---
name: Python

on: [push]

permissions:
  contents: read

jobs:
  pipeline:
    name: Pipeline
    runs-on: ubuntu-latest
    steps:
      - name: Initiating
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Preparing
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
      - name: Linting
        run: |
          /bin/sh .github/workflows/python.linter.sh
      - name: Testing
        run: |
          /bin/sh .github/workflows/python.tester.sh
      - name: Reporting
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: python
